html, body {
    height: 100%;
}
body{
    background: #ffffff;
}
.flex-container{
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    }
.title-text-flex{
   // border: solid white 2px;
    font-family: 'Raleway', sans-serif;
    font-size: 55px;
    flex: 1 0 auto;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    flex-direction: column;
    padding-bottom: 25px;
}
.information{
    //border: solid red 2px;
    flex: 3 0 auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-top: 15px;
}
.city{
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    margin-top: 10px;
}
.degrees{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 8px;
}
.condition{
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.image-sky{
    margin-top: -25px;
    height: 150px;
}
.font{
  color: #000000;
}

